#header {
    position: relative; 
    
    background-color: silver;
    padding: 20px
}
h1 {
    text-align: center;
}
#footer {
    text-align : center;
}
#main {
    position: relative; 
    background-repeat: no-repeat;
    background-color: silver;
    padding: 40px
}

.hero-sky {
    background-color: lightskyblue;
    width: 100%;
    height: 204px;

}
.hero-trees {
    background-image: url("images/moving_tree.gif");
    background-size: 270px;
    width: 100%;
    height: 304px; 
    background-repeat: repeat;
}
.hero-ground {
    background-color: green;
    width: 100%;
    height: 304px;
  }
.hero-fox {
    background-image: url("images/fox_spinning.gif");
    background-size: 50px;
    background-position-x: 15px;
    background-position-y: 200px;
    width: 1281px;
    height: 304px;
    background-repeat: no-repeat;
}
body {
    
    background-color: lightgray;
}

.hero-sun {
    background-image: url("images/sun.gif");
    background-size: 100px;
    background-position-x: 90%;
    background-position-y: 20%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.hero-clouds {
    background-image: url("images/clouds.gif"); 
    background-size: 350px;
    background-repeat: repeat;
    height:100%;
    width:100%;
    background-position: fixed;
}



.flier {
    background-image: ("images/fox_spinning.gif"); 
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 10s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(0px) translateY(200px) rotateZ(0);
	position: fixed;
	animation-delay: 0.1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-10vw) translateY(200px) rotateZ(0deg)
	}

	/* 15% {
		transform: translateX(100px) translateY(200px) rotateZ(0deg)
	}

	15.001%, 18% {
		transform: translateX(200px) translateY(200px) rotateZ(0deg)
	}
*/
	50% {
		transform: translateX(100vw) translateY(100%) rotateZ(0deg)
	}
/*
	40.001%, 43% {
		transform: translateX(400px) translateY(200px) rotateZ(0deg)
	}

	65% {
		transform: translateX(500px) translateY(200px) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(700px) translateY(200px) rotateZ(0deg)
	}

	95% {
		transform: translateX(600px) translateY(200px) rotateZ(0deg)
	} */
}